html
{
  background:black;
  font-family:sans-serif;
  box-sizing: border-box;
  height: 100%;
}

body
{
  margin: 0;
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:100%;

}

h1, p
{
  color:white;
  text-align:center;
}

#logo
{
  background:url(../img/logo.png);
  display: inline-block;
  width:508px;
  height:80px;
}

#info
{
  position:absolute;
  bottom:80px;
  left:60px;
  font-size:16px;
  font-weight:600;
  text-align:left;
  text-transform:uppercase;
  text-shadow:0px 0px 5px black;
  margin:10px;
  border-style: solid;
  border-width: 10px;
  border-image: url(../img/border.png) 5 stretch;
  background:rgba(20,20,20,0.5);
}

#switcher
{
  max-width:600px;
  margin-right:20px;
  margin-top:50px;
  float:right;
}

ul
{
  padding-left:0;
}

li
{
   list-style-type: none;
   max-width:600px;
   padding:6px;
   text-align:right;
}

li:hover .text, li.selected .text
{
  cursor:pointer;
  color:rgb(95,209,255);
  transition: color 0.15s;
}

li:not(.selected)
{
  opacity:0.8;
}

li:hover
{
  cursor:pointer;
  background:rgba(95,209,255,0.12);
  transition: background 0.15s;
}

.icon
{
  display: inline-block;
  width:32px;
  height: 32px;
  background: url(../img/icon-sprites.png) no-repeat center;
}

.button
{
  background:transparent;
  border:none;
  height:32px;
  padding-right:10px;
}

.text
{
  text-transform:uppercase;
  color:rgba(95,209,255,0.9);
  font-size:22px;
  font-weight:600;
  line-height: 32px;
  vertical-align:top;
  transition: color 0.15s;
  text-shadow:0 0 5px black;
}

.dlc_text
{
  color:#fbd100;
  font-size:22px;
}

#dlc_info
{
  position:absolute;
  bottom:5px;
  right:5px;
  color:#fbd100;
  font-size:22px;
}

#military_reddot{background-position: 0 0; width: 40px; height: 25px;}
#holographic{background-position: 0 -30px; width: 40px; height: 32px;}
#professionals_choice{background-position: 0 -67px; width: 40px; height: 38px;}
#surgeon_sight{background-position: 0 -110px; width: 40px; height: 30px;}
#acough_optic{background-position: 0 -145px; width: 40px; height: 37px;}
#milspec_scope{background-position: 0 -187px; width: 40px; height: 39px;}
#see_more{background-position: 0 -231px; width: 40px; height: 39px;}
#combat{background-position: 0 -275px; width: 40px; height: 40px;}
#compact_holo{background-position: 0 -320px; width: 40px; height: 36px;}
#speculator{background-position: 0 -361px; width: 40px; height: 37px;}
#trigonom{background-position: 0 -403px; width: 40px; height: 40px;}
#solar{background-position: 0 -448px; width: 40px; height: 40px;}
#pistol{background-position: 0 -493px; width: 40px; height: 40px;}
#sniper{background-position: 0 -538px; width: 40px; height: 40px;}

li:hover #military_reddot, li.selected #military_reddot{background-position: -40px 0; width: 40px; height: 25px;}
li:hover #holographic, li.selected #holographic{background-position: -40px -30px; width: 40px; height: 32px;}
li:hover #professionals_choice, li.selected #professionals_choice{background-position: -40px -67px; width: 40px; height: 38px;}
li:hover #surgeon_sight, li.selected #surgeon_sight{background-position: -40px -110px; width: 40px; height: 30px;}
li:hover #acough_optic, li.selected #acough_optic{background-position: -40px -145px; width: 40px; height: 37px;}
li:hover #milspec_scope, li.selected #milspec_scope{background-position: -40px -187px; width: 40px; height: 39px;}
li:hover #see_more, li.selected #see_more{background-position: -40px -231px; width: 40px; height: 39px;}
li:hover #combat, li.selected #combat{background-position: -40px -275px; width: 40px; height: 40px;}
li:hover #compact_holo, li.selected #compact_holo{background-position: -40px -320px; width: 40px; height: 36px;}
li:hover #speculator, li.selected #speculator{background-position: -40px -361px; width: 40px; height: 37px;}
li:hover #trigonom, li.selected #trigonom{background-position: -40px -403px; width: 40px; height: 40px;}
li:hover #solar, li.selected #solar{background-position: -40px -448px; width: 40px; height: 40px;}
li:hover #pistol, li.selected #pistol{background-position: -40px -493px; width: 40px; height: 40px;}
li:hover #sniper, li.selected #sniper{background-position: -40px -538px; width: 40px; height: 40px;}


#screenshots .screenshot
{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  width:100%;
  height:100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#screenshots .screenshot.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.screenshot
{
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center bottom;
}

#ss_sniper{background-image:url('../img/screenshot/14_sniper.jpg');}
#ss_pistol{background-image:url('../img/screenshot/13_pistol.jpg');}
#ss_solar{background-image:url('../img/screenshot/12_solar.jpg');}
#ss_trigonom{background-image:url('../img/screenshot/11_trigonom.jpg');}
#ss_speculator{background-image:url('../img/screenshot/10_speculator.jpg');}
#ss_compact_holo{background-image:url('../img/screenshot/09_compact_holo.jpg');}
#ss_combat{background-image:url('../img/screenshot/08_combat.jpg');}
#ss_see_more{background-image:url('../img/screenshot/07_see_more.jpg');}
#ss_milspec_scope{background-image:url('../img/screenshot/06_milspec_scope.jpg');}
#ss_acough_optic{background-image:url('../img/screenshot/05_acough_optic.jpg');}
#ss_surgeon_sight{background-image:url('../img/screenshot/04_surgeon_sight.jpg');}
#ss_professionals_choice{background-image:url('../img/screenshot/03_professionals_choice.jpg');}
#ss_holographic{background-image:url('../img/screenshot/02_holographic.jpg');}
#ss_military_reddot{background-image:url('../img/screenshot/01_military_reddot.jpg');}

#preload{display:none;}
