html
{
  background:black;
  font-family:sans-serif;
  box-sizing: border-box;
  height: 100%;
}

body
{
  margin: 0;
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:100%;

}

h1, p
{
  color:white;
}

#logo
{
  background:url(../img/logo.png);
  display: inline-block;
  width:508px;
  height:80px;
}

#container
{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center bottom !important;
}

#screenshot img
{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  width:100%;
  height:100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#screenshot img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

#info
{
  float:right;
  font-size:16px;
  font-weight:600;
  text-align:right;
  text-transform:uppercase;
  text-shadow:0px 0px 5px black;
  margin:10px;
  border-style: solid;
  border-width: 10px;
  border-image: url(../img/border.png) 5 stretch;
  background:rgba(20,20,20,0.5);
}

#switcher
{
  border-style: solid;
  border-width: 10px;
  border-image: url(../img/border.png) 5 stretch;
  background:rgba(20,20,20,0.5);
  max-width:600px;
  margin-left:10px;
  margin-top:10px;
  float:left;


}

ul
{
  padding-left:0;
}

li
{
   list-style-type: none;
   max-width:600px;
   padding:6px;

}

.icon
{
  display: inline-block;
  width:32px;
  height: 32px;
}

.button
{
  background:transparent;
  border:none;
  height:32px;
  padding-right:10px;

}

li:hover .text, li.selected .text
{
  cursor:pointer;
  color:#3CD2FF;
  transition: color 0.15s;
}

li:hover
{
  cursor:pointer;
  background:rgba(60,210,250,0.12);
  transition: background 0.15s;
}

.text
{
  text-transform:uppercase;
  color:white;
  font-size:22px;
  font-weight:600;
  text-align: center;
  line-height: 32px;
  vertical-align:top;
  transition: color 0.15s;

}

#preview
{
  position:absolute;
  z-index:-1;
  top:100px;
  max-width:100%;
  height:100%;
}

#military_reddot
{
  background:url('../img/icon/01.png') no-repeat center;
  background-size: contain;
}

#holographic
{
  background:url('../img/icon/02.png') no-repeat center;
  background-size: contain;
}


#professionals_choice
{
  background:url('../img/icon/03.png') no-repeat center;
  background-size:contain;
}

#surgeon_sight
{
  background:url('../img/icon/04.png') no-repeat center;
  background-size:contain;
}

#acough_optic
{
  background:url('../img/icon/05.png') no-repeat center;
  background-size:contain;
}

#milspec_scope
{
  background:url('../img/icon/06.png') no-repeat center;
  background-size:contain;
}

#see_more
{
  background:url('../img/icon/07.png') no-repeat center;
  background-size:contain;
}

#combat
{
  background:url('../img/icon/08.png') no-repeat center;
  background-size:contain;
}

#compact_holo
{
  background:url('../img/icon/09.png') no-repeat center;
  background-size:contain;
}

#speculator
{
  background:url('../img/icon/10.png') no-repeat center;
  background-size:contain;
}

#trigonom
{
  background:url('../img/icon/11.png') no-repeat center;
  background-size:contain;
}

#solar
{
  background:url('../img/icon/12.png') no-repeat center;
  background-size:contain;
}

#pistol
{
  background:url('../img/icon/13.png') no-repeat center;
  background-size:contain;
}

#sniper
{
  background:url('../img/icon/14.png') no-repeat center;
  background-size:contain;
}



li:hover #military_reddot, li.selected #military_reddot
{
  background:url('../img/icon/01_b.png') no-repeat center;
  background-size: contain;
}

li:hover #holographic, li.selected #holographic
{
  background:url('../img/icon/02_b.png') no-repeat center;
  background-size: contain;
}


li:hover #professionals_choice, li.selected #professionals_choice
{
  background:url('../img/icon/03_b.png') no-repeat center;
  background-size:contain;
}

li:hover #surgeon_sight, li.selected #surgeon_sight
{
  background:url('../img/icon/04_b.png') no-repeat center;
  background-size:contain;
}

li:hover #acough_optic, li.selected #acough_optic
{
  background:url('../img/icon/05_b.png') no-repeat center;
  background-size:contain;
}

li:hover #milspec_scope, li.selected #milspec_scope
{
  background:url('../img/icon/06_b.png') no-repeat center;
  background-size:contain;
}

li:hover #see_more, li.selected #see_more
{
  background:url('../img/icon/07_b.png') no-repeat center;
  background-size:contain;
}

li:hover #combat, li.selected #combat
{
  background:url('../img/icon/08_b.png') no-repeat center;
  background-size:contain;
}

li:hover #compact_holo, li.selected #compact_holo
{
  background:url('../img/icon/09_b.png') no-repeat center;
  background-size:contain;
}

li:hover #speculator, li.selected #speculator
{
  background:url('../img/icon/10_b.png') no-repeat center;
  background-size:contain;
}

li:hover #trigonom, li.selected #trigonom
{
  background:url('../img/icon/11_b.png') no-repeat center;
  background-size:contain;
}

li:hover #solar, li.selected #solar
{
  background:url('../img/icon/12_b.png') no-repeat center;
  background-size:contain;
}


li:hover #pistol, li.selected #pistol
{
  background:url('../img/icon/13_b.png') no-repeat center;
  background-size:contain;
}

li:hover #sniper, li.selected #sniper
{
  background:url('../img/icon/14_b.png') no-repeat center;
  background-size:contain;
}
